table{
    border-collapse:collapse;
}

.titulo{
    color: #204dff;
    background-color: #bde7ff;
    font-size: larger;
    height: 40px;
    font-weight: bold;
}

td img, span{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.box {
    display: flex;
    width: 130px;
}

.selecionavel:hover{
    background-color: gold;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.selecionavel:hover img{
    opacity: 0.5;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.navegador{
    width: 20px;
}

.navegador:hover{
    background-color: aquamarine;
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.hidden {
    display:none;
}

#visitou, #vitrine {
    cursor: pointer;
}

.nome{
    font-size: small;
    display: block;
    width: 140px;
    overflow: hidden;
    /*white-space: nowrap;*/
    height: 3.3em;
    text-overflow: ellipsis;
}

.valor{
    color: red;
    font-size: large;
}
.valorAntigo{
    text-decoration: line-through;
    font-size: small;
}

.condicoes{
    color: red;
    font-size: small;
}